
.nav {
    display: flex;
    flex-direction: row;
    background: #203647;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    justify-content: center;
    align-items: center;
    width: auto;
    
    

}
.imageHeader {
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 50%;
}

.header { 
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    text-align: center;
    padding: 3px;
    background-color: #4DA8DA;
    color: white;
    position: absolute;
    left: 0;
    right: 0;

    width: 100%;



}


.link {
    margin: 10px 5px 0px 5px;
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
}

.main {
    margin-top: 10px;
    
   
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
}

.photo {
    margin: 5px;
    padding: 5px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;

 
}

.catPhoto {
    width: 620px;
    height: 520px;
    

}
.photo {
    width: 400px;
    height: 320px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .catPhoto {
        width: 280px;
        height: 225px;
       
    
    }
    .photo {
        width: 300px;
        height: 225px;

    }
  }

 